<h1>About the app</h1>
<div>
    <p>This app is Chenchuhui individual assignment. It rebuilds my previous assignment CPA01 by using express, ejs, and mongoose.</p>
    <p>It will ask AI to randomly generate the fortune of the day. You can regenerate if you are not satisfied.</p>
    <p>All the previous generated answer will be stored in the database and can be accessible through fortune page!</p>
    <p>Everytime you generating the new fortune will replace the previous one.</p>
</div>