<body>
    <div class="myForm">
        <h3>Let's get your fortune today!</h3>
        <h4>Your previous fortune:
            <br>
            <%= response %>
        </h4>

        <form method="post">
            <input id="submit" type=submit value="Get your New Fortune!">
        </form>
    </div>

</body>