<body>
    <div class="myForm">
        <h3>Let's get your fortune today!</h3>

        <form method="post">
            <input id="submit" type=submit value="Get your Fortune!">
        </form>
    </div>

</body>