<body>
    <div class="title">
        <h1>Get your fortune</h1>

    </div>
    <div class="answer-container">
        <%= response %>
    </div>

    <div class="link-container">
        <a href="/fortune">Try again!</a><br>
        <a href="/">return</a>
    </div>

</body>