<h3>Chenchuhui Hu</h3>
<p><span style="font-weight: bold;">Email: </span>
    <a href="mailto: chenchuhuih@brandeis.edu">chenchuhuih@brandeis.edu</a>
</p>
<p><span style="font-weight: bold;">Contributions to the Project: </span> Writing the team page, about page, creating fortune page and implementing mongoose, express and ejs to the project.</p>